@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Space+Mono:wght@700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    /*text-align: center;*/
}
main section img {
    box-sizing: border-box
}
nav a, #hero-msg h1, #her-msg h4, .button-box, main section {
    text-align: center;
}
#background {
    height: 725px;
}
body, .join:hover {
    background-color: #ebebd3; 
}
header, footer, .book:hover, .msg {
    background-color:#083d77;
}
nav a:hover, .join, .book, #background {
    background-color: #ee964b;
}
.msg h2,.msg p,footer, footer a:hover {
    color: black;
}
.icon, .logo {
    width: 80px;
}
nav a, footer a, .book, .join {
    text-align: center;
    color: black;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}    
#hero-img {
    width: 100%;
}
.home-title {
    font-family: "Space Mono";
    font-size: 2em;
    margin-top: 10px;
}
.msg, h2, footer p, header nav a {
    font-family: Dosis, Helvetica, sans-serif;
}
.msg {
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}
.book, .join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
body {
    font-family: Dosis, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
nav a {
    padding: 35px;
    color: #ebebd3;
}
.icon {
    padding-top: 10px;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #083d77;
}
.msg h2, .msg p {
    color: #ebebd3;
}
footer p, footer a {
    color: #ee964b;
}
#hero {
    text-align: center;
}
.Logo {
    width: 8%;
}
.mountains {
    margin: 50px 0px;
}