@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Space+Mono:wght@700&display=swap');

html {
    height: 100%;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--nav-background-color);
    
    min-height: 100%;
    display: grid;
    grid: auto / 1fr;
}
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #F9DEC9   ;
    --secondary-color: #4cd4ca;
    --accent1-color: #020202;
    --accent2-color: #3b7080;
    --accent3-color: #E9AFA3;

    /* change the values below to your chosen font(s) */
    --heading-font: "Space Mono";
    --paragraph-font: Dosis, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3b7080;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #3b7080; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3b7080  ;
    --nav-link-color: #3b7080;
    --nav-background-color: #4cd4ca;
    --nav-hover-link-color: #3b7080;
    --nav-hover-background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
p {
    font-size: 25px;
    font-family: var(--paragraph-font);
}
h1 {
    font-size: 50px;
    font-family: var(--heading-font);
}
/*Home Page*/
/*Hero*/
.hero {
    display: grid;
    width: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: url("images/backgrounds/page 1.jpg");
    background-repeat: no-repeat;
    background-size: 10% 10%;
}
nav {
    grid-area: 1 / 2 / 2 / 10;
    background-color: var(--accent3-color);
    width: auto;
    height: 150px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
}
nav a {
    padding: 3% 0;
    margin: 0 10%;
    width: 80px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: var(--nav-link-color);
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
nav a:nth-of-type(2) {
    z-index: 1;
    padding: 0;
    width: 200px;
}
.logo-home:hover {
    border: solid;
    border-color: var(--nav-hover-background-color);
    border-width: 3px;
}
.nav-background {
    width: 100%;
    grid-column: 1/11;
    grid-row: 1/3;
    z-index: -1;
}
.hero h1 {
    grid-row: 2/3;
    grid-column: 5/7;
    overflow-x: visible;
    align-self: center;
    text-align: center;
    color: var(--headline-color-on-color);
}
.side-pages {
    width: 50px;
}
.side-pages:hover {
    width: 60px;
}
.logo-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* content */
.content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2em repeat(5, 1fr);
    text-align: center;
    background-color: var(--primary-color);
}
.paragraph {
    grid-column: 2/4;
    grid-row: 2/6;
}
.paragraph p{
    padding: 50px 2px;
    color: var(--paragraph-color-on-white);
}
.paragraph button {
    font: var(--paragraph-font);
    font-size: 20px;
    padding: 10px 50px;
    background-color: var(--nav-background-color);
    color: white;
    border: none;
    transition: 0.1s;
}
.paragraph button:hover {
    color:  var(--nav-background-color);
    background-color: var(--nav-hover-background-color);
    border: solid;
    border-width: 3px;
    border-color: var(--nav-background-color);
}
.content img {
    grid-column: 5/8;
    grid-row: 2/6;
    width: 60%;
    align-self: center;
    justify-self: center;
}
/*footer*/
footer {
    background-color: var(--nav-background-color);
    display: flex;
    padding: 50px 0px 50px 20px;
    border-top: dashed;
}
footer * {
    align-self: start;
    margin: 0 30px;
}
footer div * {
    margin: 0 2px;
}
/*Blog Page*/
.content2 {
    padding: 5em 7em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 600px;
    text-align: center;
    background-color: var(--primary-color);
}
.blog1, .blog2 {
    display: grid;
    grid-template-columns: 4fr 1fr 9fr;
    grid-template-rows: 1fr 5fr;
}
.blog1 img {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;
    align-self: flex-start;
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--accent2-color);
}
.blog1 h2{
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: left;
}
.blog1 p {
    grid-row: 2/3;
    grid-column: 3/4;
    text-align: left;
}
.blog2 {
    display: grid;
    grid-template-columns: 9fr 1fr 40%;
    grid-template-rows: 1fr 5fr;
    overflow: hidden;
}
.blog2 img {
    align-self: flex-start;
    justify-self: right;
    grid-row: 1/3;
    grid-column: 3/4;
    background-size: auto; 
    background-position: center;
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--accent2-color);
    width: 100%;
    object-fit: cover;
}
.blog2 h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: left;
}
.blog2 p {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: left;
}
/*Join us Page */
.hero h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-self: center;
}
.joinustext {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: -100px 10% 0px 10%;
    background-color: #02020226;
    backdrop-filter: blur(15px);
    padding: 0 10%;
    border-radius: 20px;
}
.joinustext * {
    width: 100%;
    color: white;
    margin-top: 20px;
}
.joinustext p {
    grid-area: 2 / 2 / 6 / 6;
}
.joinustext h2 {
    grid-area: 4 / 3 / 5 / 4;
}
.joinustext img {
    grid-area: 3 / 3 / 4 / 4;
    width: 70px;
    filter: invert(1);
    margin-top: 80px;
}
.joinustext a {
    grid-area: 5 / 3 / 6 / 4;
    background-color: #020202;
    border-radius: 5px;
    width: 300px;
}
.hero .full {
    height: 128%;
    min-height: 900px;
    max-height: 1200px;
    width: auto;
    justify-self: center;
    filter: drop-shadow(0px 0px 20px #444);
}
.hero .JUPheadline {
    align-self: end;
    margin-bottom: 130px;
    grid-area: 1 / 4 / 2 / 8;
}
.hero div {
    grid-area: 2 / 1 / 3 / 11;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: var(--accent1-color); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }